{{#partial "content"}}
animal-form
<div class = "form">

    <form action = "/create/animal/new" method = "post">
        <h2 class = "text display-6">CREATE ANIMAL</h2>
        <hr>
         <div class = "form-group">
            {{!--name--}}
            <div class = "form-group">
              <label for = "name">Animal</label>
              <input type = "text" class = "form-control form-control-lg" id = "name" name = "name" placeholder = "Animal" required>
            </div>
            <br>
            {{!--type--}}
            <label for = "type" class = "form-label">Type</label>
            <input class = "form-control" list = "types" name = "type" id = "type">
            <datalist id = "types">
              <option value = "normal">
              <option value = "endangered">
            </datalist>
            <br>
            {{!--health--}}
            <label for = "health" class = "form-label">Health</label>
            <input class = "form-control" list = "healths" name = "health" id = "health">
            <datalist id = "healths">
              <option value = "healthy">
              <option value = "ill">
              <option value = "okay">
            </datalist>
            <br>
            {{!--age--}}

            <label for = "age" class = "form-label">Age</label>
            <input class = "form-control" list = "ages" name = "age" id = "age">
            <datalist id = "ages">
              <option value = "newborn">
              <option value = "young">
              <option value = "adult">
            </datalist>
            <br>
         </div>

        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg"> Create </button>
        </div>
    </form>
    <hr>

</div>

{{/partial}}
{{> layout.hbs}}



