{{#partial "content"}}
animal-form
<div class="form">

    <form action="/create/animal/new" method="post">
        <h2 class="text display-6">CREATE ANIMAL</h2>
        <hr>
         <div class="form-group">
            {{!--name--}}
            <div class="form-group">
              <label for="name">Animal</label>
              <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Animal" required>
            </div>
            <br>
            {{!--type--}}
            <label>Type</label>
            <select class = "form-select form-select-lg">
              <option type = "location" value = "normal">Normal</option>
              <option type = "location" value = "endangered">Endangered</option>
            </select>
            <br>
            {{!--health--}}
            <label>Health status</label>
            <select class = "form-select form-select-lg">
              <option type = "health" value = "healthy">Healthy</option>
              <option type = "health" value = "ill">Sickly</option>
              <option type = "health" value = "okay">Okay</option>

            </select>
            <br>
            {{!--age--}}
            <label>Age</label>
            <select class = "form-select form-select-lg">
              <option type = "age" value = "newborn">Newborn</option>
              <option type = "age" value = "young">Young</option>
              <option type = "age" value = "adult">Adult</option>
            </select>

         </div>

        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg"> Create </button>
        </div>
    </form>

</div>

{{/partial}}
{{> layout.hbs}}



