{{#partial "content"}}
index
    <div style = "width: auto; margin:auto; letter-spacing:10px; margin-top:16em;">
        <h1 class="text display-4" >Welcome to Wildlife Tracker</h1>
    </div>

{{/partial}}

{{> layout.hbs}}


